
name: Label new issues

on:
  issues:
    types: [opened]

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - name: Label new issues
        uses: andymckay/simple-issue-labeler@v1.0.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_label: 'new issue'
